@use "components/index" as *;
@use "variables/colors" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
html {
    font-size: 62,5%;
}
}
body {
font-family: Montserrat;
background-color: $background-color;
min-height: 100vh;
color: white;

}
a {
    font-size: larger;
    text-decoration: none;
    color: $whiteish;
}
h1 {
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
